.container {
  height: 100vh;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.game-box {
  height: 40rem;
  display: flex;
  justify-content: center;
}
