*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 48em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 26.57em) {
  html {
    font-size: 50%;
  }
}

img {
  display: block;
}

body {
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(circle at top, #1f3756, #141638);
  background-repeat: no-repeat;
}

.winner-border {
  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.05),
    0 0 0 80px rgba(255, 255, 255, 0.03), 0 0 0 120px rgba(255, 255, 255, 0.02);
}
@media (max-width: 26.57em) {
  .winner-border {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05),
      0 0 0 40px rgba(255, 255, 255, 0.03), 0 0 0 60px rgba(255, 255, 255, 0.02);
  }
}

.hidden {
  display: none;
}
